*:not(.left-menu-nav-icon) {
  -webkit-box-sizing: border-box;
    
}

body {

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

form {
  width: 350px;
  background: transparent;
  margin: 70px auto;
  background: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  padding: 50px 30px 35px;
}
form:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 70px;
  height: 10px;
  background: #003e6f;
  -webkit-box-shadow: 42px 0 0 0 #003e6f, 91px 0 0 0 #003e6f, 119px 0 0 0 #003e6f, 175px 0 0 0 #003e6f, 224px 0 0 0 #003e6f, 280px 0 0 0 #003e6f;
          box-shadow: 42px 0 0 0 #003e6f, 91px 0 0 0 #003e6f, 119px 0 0 0 #003e6f, 175px 0 0 0 #003e6f, 224px 0 0 0 #003e6f, 280px 0 0 0 #003e6f;
}

input, button {
  display: block;
  padding: 15px;
  width: 100%;
  margin-bottom: 1.5em;
  border: 0;
  background: #ededed;
  font-size: 1em;
  border-radius: 5px;
}
input:active, input:focus, button:active, button:focus {
  outline: none;
}

button {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #003e6f;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 0 5px 0 0 #003e6f;
          box-shadow: 0 5px 0 0 #003e6f;
}
button:hover {
  background: #003e6f;
  cursor: pointer;
}
